{% extends 'estudantes/base.html' %}

{% block body %}
    <h3 class="text-center m-4">Atualizar Estudante</h3>
    {%  if sucesso %}
    <div class="alert alert-sucess" role="alert">
        O estudante foi atualizado com Sucesso!
        <a href="{% url 'index' %}" class="alert-link">Ir a pagina principal</a>
    </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i> Update Student Records
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    {% endif %}

{% endblock %}